@import "tailwindcss";

/* Grift Font Family - All Weights */

/* Thin 100 */
@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-thinitalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Extra Light 200 */
@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-extralightitalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light 300 */
@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-lightitalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular 400 */
@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium 500 */
@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-mediumitalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Semi Bold 600 */
@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-semibolditalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold 700 */
@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-bolditalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Extra Bold 800 */
@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-extrabolditalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black 900 */
@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('/fonts/grift-blackitalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Apply Grift as default font */
* {
  font-family: 'Grift', system-ui, -apple-system, sans-serif;
}

/* Hide horizontal scrollbar */
html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  position: relative;
}


@theme {
  --color-primary: #2D5D46;
  --color-secondary: #D1E2DE;
  --color-card: #F9F9F9;
}